/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* google font  */

:root {
    --fira-sans: "Fira Sans", serif;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

main {
    background-color: #F5F5F5;
}

.d_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* header section css part start  */
main header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 31px 0px;
}

.main_logo a {
    font-family: var(--fira-sans);
    font-size: 32px;
    font-weight: 700;
    color: #0E0E0E;
}

.primary_btn {
    padding: 15px 30px;
    border: none;
    outline: none;
    border-radius: 8px;
    color: #006A50;
    border: 1px solid #006A50;
    font-family: var(--fira-sans);
    font-size: 18px;
    font-weight: 600;
    transition: all linear 0.3s;
    cursor: pointer;
}

.primary_btn:hover {
    color: #fff;
    background-color: #006A50;
    transition: all linear 0.3s;
}

/* header section css part end */
/* banner section css part start  */
.banner_main {
    padding: 80px 60px;
    background-color: #C6E4D6;
    border-radius: 24px;
    margin: 20px auto;


}

.banner_sub_title,
.banner_title {
    font-family: var(--fira-sans);
    font-size: 24px;
    font-weight: 500;
    color: #0e0e0e77;
}

.banner_title {
    font-size: 56px;
    font-weight: 700;
    color: #0E0E0E;
    padding: 25px 0px;

}

.bg_green_btn {
    background-color: #006A50;
    color: #fff;
    transition: all linear 0.3s;
}

.bg_green_btn:hover {
    background-color: #fff;
    color: #006A50;
    transition: all linear 0.3s;
}

/* banner section css part end */
/* pillars section css part start  */
.pillars {
    padding-bottom: 50px;
}

.section_heading {
    font-family: var(--fira-sans);
    font-size: 40px;
    font-weight: 700;
    color: #0E0E0E;
    padding: 24px 0px;
}

.pillars_card_box {
    gap: 2%;
}

.pillars_card {
    background-color: #fff;
    padding: 25px;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.card_title,
.vision_card_title {
    font-family: var(--fira-sans);
    font-size: 20px;
    font-weight: 700;
    color: #0e0e0ec9;
    padding: 24px 0px 12px 0px;
}

.card_text,
.section_sub_title,
.vision_card_text {
    font-family: var(--fira-sans);
    font-size: 16px;
    line-height: 24px;
    color: #0e0e0eb3;
}

/* pillars section css part end */
/* vision section css part start  */
.vision_box {
    gap: 2%;
    padding: 32px 0px;
}

.vision_card {
    background-color: #fff;
    padding: 32px;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.card_btn_main {
    padding-top: 24px;
}

.card_btn {
    padding: 11px 20px;
    border: none;
    outline: none;
    border: 1px solid #006A50;
    background-color: #006A50;
    border-radius: 8px;
    color: #fff;
    font-family: var(--fira-sans);
    font-size: 16px;
    font-weight: 600;
    transition: all linear 0.3s;
}

.card_btn:hover {
    background-color: #fff;
    border: 1px solid #006A50;
    color: #006A50;
    transition: all linear 0.3s;
}

.bg_navy {
    background-color: #548ff52f;
}

.bg_blue {
    background-color: #5490F5;
    border: 1px solid #5490F5;

}

.bg_green {
    background-color: #C6E4D6;

}

.bg_btn_green {
    background-color: #09A15C;
    border: 1px solid #09A15C;
}

.bg_yellow {
    background-color: #F7EBCF;
}

.bg_btn_yellow {
    background-color: #FFC239;
    border: 1px solid #FFC239;
}

.dr_younus {
    background-color: #fff;
    padding: 48px 24px;
    background-image: url(../image/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 2% 12%;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    margin-bottom: 30px;
}

.younus_text,
.designation,
.date_time,
.news_text,
.newsletter_text, .news_bottom_text {
    font-family: var(--fira-sans);
    font-size: 16px;
    line-height: 24px;
    color: #0e0e0eb3;
    padding-bottom: 12px;
}

.younus_name {
    font-family: var(--fira-sans);
    font-size: 20px;
    font-weight: 700;
    color: #0e0e0ec9;
}

.designation {
    padding-bottom: 0;
}

/* vision section css part end */
/* your option css part start  */
.table_box {
    width: 100%;
    background-color: #fff;
    padding: 32px;
    border-radius: 16px;

}

.table_content {
    width: 100%;
    border-collapse: collapse;
}

.table_content thead th {
    background-color: #d8f0da;
    text-align: left;
    padding: 10px;
    font-family: var(--fira-sans);
    font-size: 20px;
    font-weight: 600;
    color: #0E0E0E;
    border: 1px solid #d8f0da;
}

.table_content tbody td {
    padding: 10px;
    border: 1px solid #ddd;
    font-family: var(--fira-sans);
    font-size: 16px;
    font-weight: 600;
    color: #0E0E0E;
}

select {
    width: 100%;
    padding: 12.5px 16.5px;
    border: 1px solid #C6E4D6;
    border-radius: 4px;
    background-color: #C6E4D6;
    font-family: var(--fira-sans);
    font-size: 16px;
    font-weight: 500;
    color: #0E0E0E;
}

select:focus {
    border-color: #09A15C;
    background-color: #fff;
    outline: none;
}

/* your option css part end */

/* recent news section css part start  */
.recent_news {
    padding: 30px 0px;

}

.news_content {
    background-color: #fff;
    padding: 48px;
    border-radius: 24px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 32px;
    margin-top: 32px;

}

.news-img img {
    border-radius: 20px;
}

.news_c_heading {
    font-family: var(--fira-sans);
    font-size: 32px;
    font-weight: 700;
    color: #0e0e0ece;

}

.news_right_content img {
    padding: 12px 0px;
}

.news_btn {
    padding: 11px 20px;
    border: none;
    outline: none;
    border: 1px solid #006A50;
    background-color: #006A50;
    border-radius: 8px;
    color: #fff;
    font-family: var(--fira-sans);
    font-size: 16px;
    font-weight: 600;
    transition: all linear 0.3s;
}

.news_btn:hover {
    border: 1px solid #006A50;
    background-color: #fff;
    color: #006A50;
    transition: all linear 0.3s;
}

/* recent news section css part end */
/* donate section css part start  */
.donate {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.donate_box {
    gap: 24px;
}

.donate_box-content {
    margin: 32px 0px;
}

.donate_ammount {
    padding: 25px;
    background-color: #fff;
    border-radius: 16px;
    font-family: var(--fira-sans);
    font-size: 40px;
    color: #0e0e0eca;
    font-weight: 700;
    transition: all linear 0.3s;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.donate_ammount:hover {
    background-color: #C6E4D6;
    transition: all linear 0.3s;
}
.donate_input {
    margin-bottom: 25px;

}
.donate_input input {
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 7px;
}
.donate_input input::placeholder {
    text-align: center;
    font-family: var(--fira-sans);
    font-size: 20px;
    font-weight: 400;
}
/* donate section css part end */
/* newsletter section css part start  */
.newsletter {
    padding: 80px 265px;
    background-color: #C6E4D6;
    margin: 80px auto;
    border-radius: 24px;
    text-align: center;
}
.news_input form{
    width: 100%;
    height: 50px;
    background-color: #fff;
    position: relative;
    text-align: left;
    border-radius: 8px;
}
.news_input form input{
        width: 85%;
        height: 100%;
        margin: 0;
        border: none;
        outline: none;
        border-radius: 8px;
        padding-left:40px ;
        padding-right: 20px;
}
.newslatter_btn{
    width: 15%;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border: none;
    outline: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #006A50;
    color: #fff;
    cursor: pointer;
}
.news_bottom_text{
margin-top: 15px;
}
/* newsletter section css part end */
/* footer section css part start  */
    .footer{
        text-align: center;
        padding: 0 !important;
        margin: 0 !important;
    }
/* footer section css part end */